.task {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  border: 2px solid black;
  background: white;
}

.hover {
  box-shadow: 10px 7px 5px darkgrey;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid black;
}

.btn-done {
  background: greenyellow;
}

.btn:hover {
  cursor: pointer;
}

.btn-delete {
  background: red;
}

.save {
  display: none;
}

.label {
  font-size: 36px;
  font-weight: bold;
  color: forestgreen;
}

.input {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: none;
  margin-left: 35px;
}

.focus {
  box-shadow: 10px 7px 5px black;
}

.text {
  font-weight: lighter;
  color: forestgreen;
  text-decoration: line-through;
}


