<div class="task {{hover}}"
     (mouseenter)="onHover()"
     (mouseleave)="offHover()"
>
  <label class="label">
    {{symbol}}
    <input name = "task"
           [value]="task"
           (input)="onTaskInput($event)"
           class="input {{classFocus}}"
           [ngClass]="getInputClass()"
           (focus)="onFocus()"
           (focusout)="offFocus()"
  /></label>
  <div class="btns">
    <button
      class="btn btn-done"
      (click)="onDone()"
    >Done</button>
    <button
      class="btn btn-delete"
      (click)="onClickDelete()"
    >Delete</button>
  </div>
</div>
