<div class="container">
  <div class="list">
    <h1>To do list</h1>
    <label class="label">New task:<input class="input" name="task" [(ngModel)]="task"/></label>
    <button class="btn-add" (click)="addTask($event)">Add</button>
    <div class="tasks">
      <app-tasks
        *ngFor="let task of tasks; let i = index "
        [task]="task.task"
        (delete) = "onDeleteTask(i)"
        (changeTask)="onChangeTask(i, $event)"
      ></app-tasks>
    </div>
  </div>
</div>
