.container {
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.list {
  text-align: center;
  max-width: 1200px;
  margin: 15px auto;
  border-radius: 7px;
  border: 3px solid black;
  background: white;
}

.tasks {
  padding: 15px;
  margin: 10px 0 0;
  border-top: 3px solid black;
}

.label {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

.input {
  font-size: 20px;
  background: silver;
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
}

.btn-add {
  font-size: 16px;
  font-weight: bold;
  padding: 11px 10px 8px;
  background: greenyellow;
  border-radius: 5px;
  border: 2px solid black;
}

.btn-add:hover {
  cursor: pointer;
}
